{
  "deribit": {
    "credentials": {
      "username": "jon.snow@outlook.com",
      "password": "AE=f9g[358rYk_Yn",
      "client_id": "oCc4EjRK3MmNmTjY",
      "client_secret": "DrRyQqpK7zo6pmxpMngEJ5QnNEYRKrzP"
    }
  }
}